.Main-header {
    background-color: #333333;
    height: 150px;
    padding: 20px;
    color: white;
}

.Main-link-button:link, .Main-link-button:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.Main-link-button:hover, .Main-link-button:active {
    background-color: green;
    color: white;
}

.wide {
    width:100%;
    height: calc(100% - 1px);
    background-color:green;
    background-size:cover;
    color: white;
}

.body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}
